
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

input[type=text] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;

}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1000;
    opacity: 0.2;
}

.container {
    font-size: 1.5vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    height: 9vh;
    width: 100%;
}

.logo {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.videos {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
    margin: 0 auto 80px;
    max-width: 80vw;
    height: 80vh;
    justify-items: center;
    align-items: center;
    z-index: -1000;
}

p, a {
    position: absolute;
    color: white;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.titulo1 {
    position: absolute;
    top: 18vh;
    left: 18vw;
}

.titulo2 {
    position: absolute;
    top: 18vh;
    left: 38.5vw;
}

.titulo3 {
    position: absolute;
    top: 18vh;
    left: 58.5vw;
}

.titulo4 {
    position: absolute;
    top: 18vh;
    left: 78.5vw;
}

.titulo5 {
    position: absolute;
    top: 59vh;
    left: 18vw;
}

.titulo6 {
    position: absolute;
    top: 59vh;
    left: 38.5vw;
}

.titulo7 {
    position: absolute;
    top: 59vh;
    left: 58.5vw;
}

.titulo8 {
    position: absolute;
    top: 59vh;
    left: 78.5vw;
}

.footer {
    font-size: 3vh;
    letter-spacing: 2vh;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: rgb(29, 29, 29);
    height: 8vh;
    width: 100%;
    bottom: 0
}

.video-position {
    display: flex;
    height: 75vh;
    justify-content: center;
    align-items: center;
}

.video-position2 {
    display: flex;
    height: 85vh;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-size: 2vw;
    position: absolute;
    top: 20vh;
    left: 46vw;
}

.titulo-2 {
    font-size: 2vw;
    position: absolute;
    top: 9vh;
    left: 45vw;
}